/**
 * Style the layout between the left and the right side of the page.
 */
#content {
   @include display-flex;
   @include flex-direction(column);
   width: 100%;

   @include respond-to('medium') {
     width: 100%;
     float: left;
   }
}

/**
 * Allow for positioning of the primary content before the footer.
 */
#primary {
   @include flex(1);
   order: 0;
   overflow: hidden;
}
