/**
 * Style the layout between the left and the right side of the page.
 */
#content {
   @include display-flex;
   @include flex-direction(column);
   width: 100%;
}

/**
 * Allow for positioning of the primary content before the footer.
 */
#primary {
   @include flex(1);
   order: 0;
   overflow: hidden;
}


/**
 * Ensure the footer never leaves the bottom of the page.
 */
#page > .content-container {
  min-height: calc(100vh - 250px);
}
