/**
 * Show the background of the page with the navigation bars color.
 * 1. Ovverride any background image that wordpress might attempt to impose.
 */
body {
  background-color: color('orange');
  background-image: none !important; /* 1 */
}

/**
 * Navigation bar defined to be above and fixed at the top of the page.
 * 1. Position the navigation bar to the top.
 * 2. Ensure that the navigation bar is above other elements.
 * 3. Style the color and appearence of the navigation bar.
 * 4. Verticly center the navigation bar's children.
 * 5. Include padding for those children in the x and y direction.
 * 6. Change the amount of padding on a bigger sized screen.
 * 7. Shrink the navigation bar size on a smaller screen.
 * 8. Allow for synched up transformation of movment on mobile with the page.
 * 9. Ensure stanrd font size throught the navigation, exceptions may follow.
 */
#site-navigation {
  @include transition(transform 0.8s); /* 8 */
  @include display-flex;  /* 4 */
  @include flex-direction(column);  /* 4 */
  @include justify-content(center); /* 4 */
  @include font-size(16px); /* 9 */
  position: fixed; /* 1 */
  left: 0; /* 1 */
  right: 0; /* 1 */
  top: 0; /* 1 */
  width: 100vw; /* 2 */
  max-width: 100vw;
  height: 60px; /* 2 */
  background-color: $content-bgcolor;  /* 3 */
  border-bottom: 1px solid $border-color;  /* 3 */
  z-index: 100;

  @include respond-to('large') {
    a { @include font-size(13px); }
  }

  @include respond-to('medium') {
    body.nav-visible & {
      @include transform(translateX(300px)); /* 8 */
    }
  }
}

/**
 * Ensures content is always pushed below the navigation bar, which is
 * positioned relative to the window not the document.
 * 1. Ensure no elements overlap the current one.
 */
#content-nav-bar-padding {
  width: 100%;
  clear: both; /* 1 */
  height: 60px;
}

/**
 * Style the navigation elements to display in a row using flexbox. This could
 * also be accomplished with inline-block.
 *
 * The use of flex-direction: row is not required but helps ensure proper
 * behavior.
 *
 * The wrapper also dictates the maximum width of the navigation bar, this is
 * 1150px in this case.
 */
#site-navigation > .wrapper {
  @include display-flex;
  @include flex-direction( row );
  @include justify-content( space-between );
  width: $max-page-width;
  margin: 0 auto;
  padding: 20px;

  @include respond-to((max-width: $max-page-width)) {
    width: 100%;
  }
}

/**
 * Ensure that the unordered lists and list elements within the navigation
 * menu are not affected by base styles.
 */
#site-navigation ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/**
 * Show as a flexbox with direction in place of inline block as would
 * else be the standard.
 */
#site-navigation ul.menu-items {
  @include display-flex;
  @include flex-direction( row );
}

/**
 * Hide all elements of the navigation bar that are automatically taken by the
 * mobile site expanded navigation.
 */
@include respond-to('medium') {
  #primary-menu, #social-menu, #sidebar-toggle {
      display: none;
  }
}

/**
 * Styles the menu toggle which is a classic three bar burger menu with
 * animating style when clicked.
 * 1. Adjust to ensure the centering of the menu.
 * 2. Indicate that this is a clickable button to users and mobile.
 * 3. Keep the menu toggle
 *
 */
#menu-toggle {
  @include display-flex; /* 1 */
  @include flex-direction(column); /* 1 */
  @include justify-content(center); /* 1 */
  cursor: pointer; /* 2 */
  width: 26px;
  height: 20px;
  margin-left: 0;
  padding-left: 0;
  position: relative;
}

/**
 * Style the bar of the navigation toggle.
 *
 * 1. Include the animation time.
 * 2. Allow for the pattern to emeerge via margins.
 *
 * Also position the transform origion and top properties in order to have
 */
#menu-toggle .row {
  $menu-toggle-size: 20px;

  @include transition(transform 0.8s ease); /* 1 */
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: color('black');
  left: 0;
  right: 0;

  &:first-child {
    @include transform-origin(0, -4px);
    top: 0;
  }

  &:nth-child(2) {
    @include transform(translateX(0));
    top: $menu-toggle-size / 2 - 3px;
  }

  &:last-child {
    @include transform-origin(0, 6px);
    top: $menu-toggle-size - 5px;
  }
}

/**
 * On click show as an exit button by twisting the rows into format of an X.
 * 1. Adjust the transformation origon for this alteration.
 * 2. Rotate the bars to form the x.
 * 3. Move the thrid unnecessary bar away.
 * 4. Hide the finnal third bar.
 */
body.nav-visible #menu-toggle  .row {
  &:first-child {
    @include transform(rotate(45deg)); /* 2 */
  }

  &:last-child {
    @include transform(rotate(-45deg)); /* 2 */
  }

  &:nth-child(2) {
    @include transform(translateX(200%)); /* 3 */
    opacity: 0; /* 4 */
  }
}

/**
 * Show all the site navigation menu behind the page, only revelaed when
 * the menu toggle is clicked. This allowes for the expansion of the menu
 * when the toggle is presseed.
 * 1. Move from bottom to top on mobile screens.
 */
#site-navigation-more {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 20px;
  max-width: 220px;
  background-color: $content-bgcolor;

  @include respond-to('medium') {
    top: 20px;
    bottom: auto;
  }
}

/**
 * Remove all list styles for the liks of the site navigation.
 */
#site-navigation-more ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/**
 * The page which contains all of the content can rotate in order for the
 * hidden menu to be seen. This is done through the rotation on the top
 * left axis.
 * 1. Rotate the page when the extended navigation menu is visible.
 * 2. Show the page as larger to avoid the possibility of cut off.
 * 3. Move the page in case of navigation mroe is visible.
 */
#page {
  @include transition(transform 0.8s);
  @include transform-origin( top, left );

  body.nav-visible & {
    @include transform(rotate(-35deg )); /* 1 */
    height: 200vh; /* 2 */
  }

  body.nav-ending-visible & {
    height: 200vh; /* 2 */
  }

  @include respond-to('medium') {
    body.nav-visible & {
      @include transform(translateX(300px)); /* 3 */
    }
  }
}

/**
 * Display the primary menu items in a row with space between them.
 * 1. Hide all menu items below the depth of 1.
 */
#primary-menu-items li {
    margin-left: 10px;
    margin-right: 10px;

    & li {
      display: none; /* 1 */
    }
}

/**
 * The menu items are replaced with font awesome icons. This allowes the
 * transference of the name to an icon as specified in $social-icons.
 */
@each $name, $character in $social-icons {
    #social-menu-items a[href*="#{$name}"] {
        span { display: none; }

        &::before {
            font-family: "fontawesome";
            content: $character;
            font-size: $content-font-size * 1.3;
        }
    }
}

/**
 * Display the social menu icons with space between them.
 */
#social-menu li {
    margin-left: 5px;
    margin-right: 5px;
}

/**
 * Ensure that the site title is in the middle of the screen and centered
 * properly
 */
#site-title-wrapper {
  @extend %center-vertical;
}

/**
 * Style the site title to display the various sizes dependent on the size of
 * the page using media queries. Also centers the title.
 */
#site-title-wrapper .site-title  {
    @include font-size('huge');
    display: block;
    margin-top: (headingSize('huge') / -2);

    @include respond-to('large') {
      @include font-size('large');
      margin-top: (headingSize('large') / -4);
    }
}

/**
 * The sidebar toggle in the navigation. It resembels in dimensions the
 * navigation toggle.
 * 1. Hide for mobile displays.
 */
#sidebar-toggle .container {
  position: relative;
  width: 26px;
  height: 20px;
  cursor: pointer;

  @include respond-to('medium') {
    display: none; /* 1 */
  }
}

/**
 * Style each row from the container.
 */
#sidebar-toggle .container .row {
  @include transition(all 0.8s);
  position: absolute;
  width: 100%;
  height: 3px;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      top: ($i - 1) * 100% / 3;
    }
  }
}

/**
 * The sidebar dots indicative of the variety of widgets found in the
 * sidebar.
 */
#sidebar-toggle .row .dot {
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: color('black');
  left: 0;
  top: 0;
}

/**
 * Style the dashes for the sidebar toggle, the longer parts following the
 * dots.
 */
#sidebar-toggle .row .dash {
  position: absolute;
  width: 26px - 6px;
  height: 100%;
  background-color: color('black');
  left: 6px;
  top: 0;
}

/**
 * Make the middle dash shorter to make the symbol.
 */
#sidebar-toggle .row:nth-child(2) .dash {
  width: 26px - 10px;
}
