/**
 * Allow for page to be the primamry insighter of scrolling in place of html
 * elements.
 */
body, html {
  overflow: hidden;
}

/**
 * Give page basic positioning and styling as well as allowing for the page
 * itself to scroll normally on mobile devices.
 */
#page {
  background-color: $theme-bgcolor;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}
