/**
 * Sets up the sidebar, its notable this does not work on mobile and is thus
 * removed for that sake.
 *
 * In order for the sidebar to extend beyond the frame it has to move, this is
 * done by placing it off screen and moving it in using a tranform for gpu
 * acceleration.
 */
#sidebar {
  $sidebar-width: 200px;

  @include transition(transform 8s);
  display: block;
  z-index: 100;
  position: fixed;
  top: 0;
  right: -$sidebar-width;
  width: $sidebar-width;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: $padding-val;
  background-color: color('red');

  &, & {
    color: $light-text-color;
  }

  .sidebar-visible & {
    @include transform(translateX(-$sidebar-width));
  }

  @include respond-to('medium') {
    overflow: visible;
    display: none;
  }
}
