/**
 * @file.
 * Creates the sidebar and also dicates its layout in terms of the
 * page content and the sidebar.
 */

/* Sets up the sidebar to allow toggling. */
#sidebar {
    overflow: visible;

    // Hide for mobile.
    display: none;
}

@media (min-width: #{$standard-breakpoint}) {
    /* Make the sidebar be hidden and show the icon.  */
    #sidebar {
        display: block;

        // Will have a zindex that allowes the sidebar to preceede all but the nav.
        z-index: $sidebar-zindex;

        // Will not scroll with window.
        position: fixed;
        top: 0;

        // Position the sidebar to allow the dispaly of the border.
        right: -$sidebar-width;
        width: $sidebar-width;

        // Make sure the sidebar takes up the apropriate space.
        height: 100vh;

        overflow-y: scroll;
        overflow-x: hidden;

        padding-top: 10px;
    }

    /* Perform all animations for the display of the sidebar. */
    body.sidebar-visible {

        #page, #site-navigation, #sidebar {
            @include transform(translateX(-$sidebar-width));
        }

    }
}
