body.home .snowgrid {
    &.loaded .post {
        @include transition( left $time__long,
                             right $time__long,
                             top $time__long,
                             bottom $time__long );
    }
}

body.home .snowgrid .post {
    position: absolute;

    .entry-image {
        width: 100%;


        img {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }
    }

    .entry-content {
        margin: 0;
        padding: 15px;
    }
}
