/**
 * Style the entry meta to a simple distraction free standard.
 * 1. Adjust the font size and color.
 * 2. Ensure everything stated remains on one line.
 */
.entry-meta {
  @include font-size('tiny'); /* 1 */
  color: color('lightgrey'); /* 1 */

  * {
    display: inline-block; /* 2 */
  }
}

/**
 * Adjused the reference of the author name.
 * 1. Prefix the author with a dash.
 * 2. Padd the dash for appropriate spacing based off of font size set for
 * entry meta.
 */
.entry-meta .author::before {
    content: '–'; /* 1 */
    padding: 0 headingSize('tiny'); /* 2 */
}
