/**
 * Creates a featured image dispaly at the very top of the page with a
 * variety of posts deeemed featured. The title and the excerpt along with
 * a photo are shown, thats it.
 *
 * For impacting file look at:
 * @see js/featured.js
 * @see front-parts/featured.php
 * @see inc/content-featured.php
 */
#featured {
    @include box-sizing( border-box );
    width: 100%;
    position: relative;
    height: 100vh;
    height: $featured-height;

    background-color: white;
    overflow: hidden;
}

#featured-posts {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#featured-posts > article.featured-post {
    @extend .center-vertical-child-flex;

    // Temporarily hide...
    @include transform(translateX(100vw));

    // Allow for mobile size constraints...
    @include box-sizing( border-box );
    max-height: 100%;

    &, > * { @include transition( all $featured-post-transition ) };

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#featured-posts > article.featured-post > .post-content {
    @include perfect-css-background-rel;
    position: relative;
    width: $featured-post-width;
    padding: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;

    > .entry-content * {
        @include text-shadow( 1px 1px 0 black );
    }

    > .entry-content .title * {
        @include text-shadow( 1px 1px 3px rgba(0,0,0,0.5) );
        text-align: left;
        font-size: 2em;
        text-decoration: none;
    }
}


#featured-posts > article.featured-post.active  {
    // Reveal!
    @include transform(translateX(0));

    > .post-content {
        @include transform(skew(-15deg) rotate(15deg));
        @include box-shadow(40px 40px 10px 0 rgba(0,0,0,0.3));
    }
}


/** MOBILE!!! **/
@media screen and (max-width: #{2*$front-grid-size}) {
    #featured-posts { height: $featured-height-mobile; }

    #featured-posts > article.featured-post { padding: 0; }

    #featured-posts > article.featured-post > .post-content {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    #featured-posts > article.featured-post.active > .post-content {
        @include transform(skew(0) rotate(0));
        @include box-shadow( none );
    }
}

/** Post Navigation **/
#featured-post-navigation {
    position: absolute;
    bottom: $grid-gap;
    left: 40%;

    @include display-flex;
}

#featured-post-navigation .option {
    @include transition( all $time__medium );

    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;

    margin: 6px;
    height: 10px;
    width: 10px;


    &.active {
        @include transform( scale( 1.4 ) );

        background-color: white;
    }
}

@media screen and (max-width: #{2*$front-grid-size}) {
    #featured-post-navigation {
        @include justify-content( center );

        left: 0;
        right: 0;
        width: 100%;
    }

    #featured .option {
        margin: 12px;
        height: 13px;
        width: 13px;

        border: 2px solid white;
    }
}
