#featured {
    width: 100%;

    position: relative;
}

#featured #featured-image {
    margin: 0;

    position: relative;

    width: 100%;
    height: $featured-image-height;
    min-height: $featured-post-number * $featured-post-height;
    max-height: calc(100vh - #{$nav-screen-height});

    /* Show the background image to take up the entire site. */
    .background-image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-attachment: fixed;
        background-postion: center center;
        @include background-size(cover);
    }

    /* Show the entry content above the image. */
    .entry-content {
        width: $featured-image-entry-content-width;
        height: 100%;

        position: absolute;
        left: calc(50% - #{$featured-image-entry-content-width / 2});
        top: 0;

        // Center all content vertically
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);

        * {
            color: $featured-image-entry-content-text-color;
            font-size: $featured-image-entry-content-font-size;
        }
    }
}


#featured-posts {
    position: absolute;
    right: 0;
    top: 0;

    width: $featured-post-width;

    // Order in a fashion that allowes for the display of the posts in directly correlating order.
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(flex-start);

    border-left: $featured-post-border-size solid $featured-post-border-color;
    border-right: $featured-post-border-size solid $featured-post-border-color;

    .post {
        @include box-sizing(border-box);
        @include transition(all $featured-post-transition);

        position: relative;
        width: $featured-post-width;
        min-height: $featured-post-height;
        color: $feauted-post-title-color;
        background-color: $featured-post-bgcolor;

        // Add a border to the display.
        border-bottom: $featured-post-border-size solid $featured-post-border-color;

        // Remove all margins in order to allow ideal flexbox.
        margin: 0;

        // Override default post padding.
        padding: 0 $featured-post-padding;

        // Remove non essential members of the post.
        .post-featured-image { display: none; }

        &:first-child {
            border-top: $featured-post-border-size solid $featured-post-border-color;
        }

        .entry-header .entry-title {
            font-size: $featured-post-title-font-size;
            text-align: center;

            width: 100%;
        }

        padding-bottom: $author-font-size * 2;

        .entry-meta {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
}


/* Relates to the currently selected post and the change that entails */
#featured-posts .post.selected {
    background-color: $featured-post-selected-bgcolor;
}

#featured-image .post-featured-image {
    @include transition(all $featured-post-image-transition);
}

#featured-image .post-featured-image.selected {
    z-index: 2;
    opacity: 1;
}

#featured-image .post-featured-image:not(.selected) {
    opacity: 0;
    z-index: 1;
}

/* Media query to change appearence based off of screen size. */
@media screen and (max-width: $standard-breakpoint) {
    #featured #featured-image { display: none; }

    #featured-posts {
        position: relative;
        width: 100%;
        margin: 0;

        .post {
            width: 100%;
            height: $featured-post-mobile-height;
            color: $featured-post-mobile-text-color;
        }

        .post .entry-meta {
            width: 100%;

            text-align: center;
        }
    }

    /* Add the background colors to be more colorful for the mobile site. */
    @for $index from 1 through length($featured-post-mobile-bgcolors) {
        #featured-posts .post:nth-child(#{$index}) { background-color: nth($featured-post-mobile-bgcolors, $index); }
    }
}
