/**
 * Basic styling for the post font.
 */
.post {
  @include content-font;
  @include box-sizing(border-box);
}

/**
 * Allow some padding for the actual content of the post. Also give some
 * increased line height
 */
.post-content {
  padding: $padding-val;
  line-height: 1.8;
}


/**
 * Give all post content a bit more distinction from the remainder through
 * images with increased margins.
 */
.post-content img {
  margin: 25px;

  &.attachment-singlepost-background {
    margin: 0;
  }
}

/**
 * Style images in the post content in order to be slightly offset
 * based on alignment.
 */
.post-content img.alignright,
.post-content .wp-caption.alignright {
  margin-right: -$embed-out-distance;

  @include respond-to('medium') {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.post-content img.alignleft,
.post-content .wp-caption.alignleft {
  margin-left: -$embed-out-distance;

  @include respond-to('medium') {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.post-content img.aligncenter,
.post-content .wp-caption.aligncenter {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/**
 * Ovveride the default styling for single format posts which have sidebars.
 */
@each $ending in ('.alignright', '.alignleft', '.pull-right', '.pull-left') {
  .single-format-standard #{$ending} {
    max-width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    padding: 10px;
  }
}


/**
 * Allow the entry image to expand on hover.
 * 1. Allow for an increase in size without expanding beyond borders.
 * 2. Ensure the lack of space for the picture.
 * 3. Scale the image to a larger size.
 */
.post .entry-image {
  width: 100%;
  overflow: hidden; /* 1 */

  &, * {
    padding: 0; /* 2 */
    margin: 0; /* 2 */
    display: block; /* 2 */
  }

  img {
    @include transition( all 0.8s );
  }

  &:hover img {
    @include transform( scale( 1.2) ); /* 3 */
  }
}

/**
 * Show the post categories list as a flexbox of categories, this allows more
 * flexibility in display of these items.
 */
.post .entry-footer ul.post-categories {
  @include display-flex;
  @include flex-flow(row wrap);
  padding: 0;
  margin: 0;
  width: 100%;
}

.post .entry-footer ul.post-categories li {
  padding: 5px;
  margin: 4px;
  border-radius: 4px;
  background-color: color('white');
  border: 1px solid color('black');

  a, &, &::before {
    @include transition(all 0.3s);
  }

  a { color: color('black'); }

  &::before {
    content: '\f02b';
    font-family: "FontAwesome";
    margin-right: 4px;
    color: color('black');
  }

  &:hover {
    background-color: color('black');

    a { color: color('white'); }

    &::before { color: color('white'); }
  }
}
