/**
 * Style the icon to look clickable and feel so as well.
 */
#search-toggle {
  @extend %center-vertical;

  .fa {
    @include font-size(22px);
    cursor: pointer;
    display: block;
  }
}

/**
 * The searchform has a very high z-index as it takes up the entire
 * site using some trickery we know to be fixed positioning (shh).
 *
 * It is not displayed by default unless the class search-visilbe is added
 * to the body, in the interm it is left with no display value and an opaque
 * view. The first is handled by javascript very carefully.
 */
#searchform {
  @extend %center-vertical;

  @include transition(all 0.6s);
  font-family: $heading-font;
  position: fixed;
  top: -60px; /* Nav height */
  left: 0;
  right: 0;
  width: 100vw;
  opacity: 1;
  z-index: 100;
  background-color: rgb(0, 0, 0);

  body.search-visible & {
    top: 0;
  }
}

/**
 * Make search results visible
 */
#searchform .search-results a {
  @include font-size(12px);
  line-height: 2;
  color: color('white');
  margin-left: 20px;
}

/**
 * Style the button to exit the searchfrom, arguably the most important
 *
 * This button is simply an x made of before and after components that are to
 * smart for their own good.
 */
#search-exit {
  position: absolute;
  top: 45%;
  top: calc(50% - 8px);
  right: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;

  &::before, &::after {
    content: '';
    background-color: rgb(80, 80, 80);
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
  }

  &::before {
    @include transform(rotate(45deg));
  }

  &::after {
    @include transform(rotate(-45deg));
  }
}

/**
 * Style the search container to properly contain the search field.
 *
 * This includes mostly centering and an icon.
 */
#searchform .search-container {
  @include font-size(26px);
  text-align: center;
  font-family: $heading-font;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 0);
}

/**
 *
 */
#searchform .search-results {
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  padding: 0;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: scroll;

  @include respond-to((max-width: $max-page-width)) {
    padding: 0 20px;
  }
}

/**
 * Make the searchform field container large enough to contain proper searches.
 */
#searchform .field-container {
  width: 95%;
  max-width: $max-page-width;
  margin: 0 auto;
  position: relative;
}

/**
 * Create the input as a nicely formed simple searchbar.
 */
#searchform input {
  @include font-size(18px);
  color: color('white');
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(50, 50, 50);
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  letter-spacing: 2px;
}

/**
 * Keep the icon behind the search container.
 */
#searchform .field-container::after {
  content: '';
  margin: 5px;
  font-family: "FontAwesome";
  content: '\f002';
  display: none;
}


/**
 * In casses where nothing was found for a given search, display an apropriate
 * message to the user.
 */
#nothing-result {
  @include display-flex;
  @include flex-flow(row wrap);
  @include justify-content(center);
  margin: 0;
  width: 100%;
  padding: 60px auto;
}

/**
 * Show the actual nothing text.
 */
#nothing-result blockquote {
  @include font-size(40px);
  font-family: $alternate-font;
  max-width: 600px;
  color: color('darkgrey');
  font-style: italic;
}

/**
 * Show that nothing quote as a quote
 */
#nothing-result blockquote::before {
  @include font-size(160px);
  margin-top: -60px;
  content: '\201C';
  float: left;
  color: color('grey');
}

/**
 * Remove the spacing around the p tag.
 */
#nothing-result p {
  margin-bottom: 0;
}

/**
 * Style the blockquote citation for proper impact.
 */
#nothing-result cite {
  @include font-size(30px);
  margin-left: 15%;
  margin-top: -100px;
  font-style: normal;

  &::before {
    content: '–';
    margin: 0 2px;
  }
}
