/**
 * Style the icon to look clickable and feel so as well.
 */
#search-toggle {
  @extend %center-vertical;

  .fa {
    @include font-size(22px);
    cursor: pointer;
    display: block;
  }
}

/**
 * The searchform has a very high z-index as it takes up the entire
 * site using some trickery we know to be fixed positioning (shh).
 *
 * It is not displayed by default unless the class search-visilbe is added
 * to the body, in the interm it is left with no display value and an opaque
 * view. The first is handled by javascript very carefully.
 */
#searchform {
  @extend %center-vertical;

  @include transition(all 0.4s ease);
  position: fixed;
  top: 60px; /* Nav height */
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  height: calc(100vh - 60px); /* Nav height */
  background-color: darken(color('white'), 2);
  opacity: 0;
  z-index: -100;

  body.search-visible & {
    opacity: 1;
    z-index: 100;
  }
}

/**
 * Style the button to exit the searchfrom, arguably the most important
 *
 * This button is simply an x made of before and after components that are to
 * smart for their own good.
 */
#search-exit {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &::before, &::after {
    content: '';
    background-color: color('black');
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
  }

  &::before {
    @include transform(rotate(45deg));
  }

  &::after {
    @include transform(rotate(-45deg));
  }
}

/**
 * Style the search container to properly contain the search field.
 *
 * This includes mostly centering and an icon.
 */
#searchform .search-container {
  @include font-size(26px);
  text-align: center;
  font-family: $alternate-font;
}

/**
 * Keep the icon behind the search container.
 */
#searchform .field-container::after {
  content: '';
  margin: 5px;
  font-family: "FontAwesome";
  content: '\f002';
  display: none;
}


/**
 * Style the actual input to simply be a line with soem text on it, no outline
 * not fancy fuss.
 *
 * Also add in the search icon in case some idiot didn't already onow what was
 * happening.
 */
#searchform input {
  @include font-size(80px);
  font-weight: bold;
  font-family: $heading-font;
  width: 40vw;
  min-width: 240px;
  max-width: 100vw;
  margin: auto;
  border: none;
  outline: none !important;
  border-radius: 0;
  text-align: center;
  background-color: transparent;
}

/**
 * Style the posts that are being loaded using ajax in the searchfield.
 */
#searchform .search-results {
  max-width: 700px;
  width: 90vw;
  height: 70vh;
  overflow-y: scroll;
}

/**
 * In casses where nothing was found for a given search, display an apropriate
 * message to the user.
 */
#nothing-result {
  @include display-flex;
  @include flex-flow(row wrap);
  @include justify-content(center);
  margin: 0;
  width: 100%;
  padding: 60px auto;
}

/**
 * Show the actual nothing text.
 */
#nothing-result blockquote {
  @include font-size(40px);
  font-family: $alternate-font;
  max-width: 600px;
  color: color('darkgrey');
  font-style: italic;
}

/**
 * Show that nothing quote as a quote
 */
#nothing-result blockquote::before {
  @include font-size(160px);
  margin-top: -60px;
  content: '\201C';
  float: left;
  color: color('grey');
}

/**
 * Remove the spacing around the p tag.
 */
#nothing-result p {
  margin-bottom: 0;
}

/**
 * Style the blockquote citation for proper impact.
 */
#nothing-result cite {
  @include font-size(30px);
  margin-left: 15%;
  margin-top: -100px;
  font-style: normal;

  &::before {
    content: '–';
    margin: 0 2px;
  }
}
