/**
 * @file.
 * Relates to all the visual elements of hte sidebar, the layout not included
 * in this file but is ../layout/_sidebar.scss.
 */
#sidebar {
    // Add in some rudimentary padding.
    padding: 0 $sidebar-padding-left;
    padding-top: $nav-screen-height / 2 - $nav-toggle-height / 2;

    background-color: $sidebar-bgcolor;
    &, * { color: $sidebar-text-color; }
}

#sidebar ul {
    list-style-type: none;

    // Display as flexbox.
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(flex-start);

    // Hide defualt padding and margins.
    margin: 0;
    padding: 0;
}

#sidebar ul li {
    width: 100%;
    text-align: left;
}
