/**
 * @file.
 * Styles all the widgets in the site and does so with base styles as well as
 * more specific styles dictated in the widgets/ directory.
 */
.widget {
    width: 100%;
    .widget-title {
        border-bottom: $widget-title-border;
    }
}

/* Adds styling for an icon to precede some text. */
@mixin proceded-icon-styling($icon) {
    &::before {
        display: block;
        text-align: left;
        font-family: "fontawesome";
        float: left;
        padding-top: 0;
      font-size: $widget-icon-font-size;
      margin-right: 14px;
      content: $icon;
    }
}

/* Including specialized widgets */
.widget_search {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;

    @include display-flex;
    @include flex-direction(row);

    &::before {
        content: "\f002";
        margin-left: 2px;
        font-family: "fontawesome";
        font-size: 1em;
        color: black;
    }

    input.search-field {
        @include border-radius(0);

        width: auto;
        border: none;

        &:focus {
            outline: none;
        }
    }
}

.widget_search {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;

    @include display-flex;
    @include flex-direction(row);

    &::before {
        content: "\f002";
        margin-left: 2px;
        font-family: "fontawesome";
        font-size: 1em;
        color: black;
    }

    input.search-field {
        @include border-radius(0);

        width: auto;
        border: none;

        &:focus {
            outline: none;
        }
    }
}

.widget.widget_recent_comments {

    ul li {
        @include proceded-icon-styling("\f075");

        margin-bottom: $widget-margin-bottom;;
    }
}

.widget_archive {
    ul li {
        @include proceded-icon-styling("\f187");

        margin-bottom: $widget-margin-bottom;
    }
}
