/**
 * Styles all the widgets in the site and does so with base styles as well as
 * more specific styles dictated in the widgets/ directory.
 */
.widget {
  width: 100%;
}

.widget-title {
  border-bottom: 1px solid $primary-text-color;
}

/**
 * Allow a search icon for a search widget.
 *
 * The search widget is without border with no bottom border and is then shown
 * with the icon beforehand.
 */
.widget_search {
  @include display-flex;
  @include flex-direction(row);
  width: 100%;
  border: none;
  border-bottom: 1px solid black;

  &::before {
    content: "\f002";
    margin-left: 2px;
    font-family: "fontawesome";
    font-size: 1em;
    color: black;
  }
}

/**
 * Show the input search field to display the seach field properly.
 */
.widget_search input.search-field {
  border-radius: 0;
  width: auto;
  border: none;

  &:focus {
    outline: none;
  }
}

/**
 * Show recent icons from widget icons and thereby allow for list item
 * procession.
 */
.widget.widget_recent_comments ul li {
  margin-bottom: 20px;

  &::before {
    content: "\f075";
    margin-left: 2px;
    font-family: "fontawesome";
    font-size: 1em;
    color: black;
  }
}

/**
 * Display archive with proceeding icon as well. Similar to recent comments.
 */
 .widget.widget_archive ul li {
   margin-bottom: 20px;

   &::before {
     content: "\f187";
     margin-left: 2px;
     font-family: "fontawesome";
     font-size: 1em;
     color: black;
   }
 }
