/**
 * @file.
 * The styling for the footer of the page, the footer being a widget area.
 * Overlapping widget styles from widgets should be overwrittern.
 */

footer#primary-footer {
    padding-top: 15px;

    background-color: $footer-bgcolor;
    width: 100%;

    // Specified float fixes some problems using columns for webkit and moz.
    float: right;

    .widget-container {
        width: $footer-column-container-width;
        $footer-column-container-margin: (100% - $footer-column-container-width) / 2;
        margin-left: $footer-column-container-margin;
        margin-right: $footer-column-container-margin;

        // Specified float fixes some problems using columns for webkit and moz.
        float: right;

        // Specify the sizes of the columns.
        @include column-count(auto);
        @include column-gap($footer-widget-gap);
        @include column-width($footer-widget-width);
        @include break-inside(avoid);


        padding: 0;
    }

    article.widget {
        display: inline-block;
        background-color: $footer-text-color;
        margin-bottom: $footer-widget-gap;

        padding: $footer-widget-paddding;

        overflow: hidden;
        position: relative;
    }

    * { display: inline-block; }

    img { display: block;}

}


/* Show the credits as properly displaying */
#primary-footer .credits {
    width: 100%;
    margin: 0;

    // Show as flexbox.
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-around);

    background-color: $footer-credit-bgcolor;

    .credit {
        font-family: $font-headings;
        font-size: $footer-credit-font-size;
        font-weight: $footer-credit-font-weight;
        color: $footer-credit-text-color;
        text-align: center;

        margin: $footer-credit-font-size 0;
    }
}
