/**
 * @file.
 * The styling for the footer of the page, the footer being a widget area.
 * Overlapping widget styles from widgets should be overwrittern.
 */

footer#primary-footer {
    padding-top: 15px;

    background-color: $footer-bgcolor;
    width: 100%;

    // Specified float fixes some problems using columns for webkit and moz.
    float: right;

    .widget-container {
        @include column-layout;
    }

}


/* Show the credits as properly displaying */
#primary-footer .credits {
    width: 100%;
    margin: 0;

    // Show as flexbox.
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-around);

    background-color: $footer-credit-bgcolor;

    .credit {
        font-family: $font-headings;
        font-size: $footer-credit-font-size;
        font-weight: $footer-credit-font-weight;
        color: $footer-credit-text-color;
        text-align: center;

        margin: $footer-credit-font-size 0;
    }
}
