/**
 * @see http://codepen.io/drus/pen/MwEZVe?editors=110
 */

$space-total: 100% - $percent-grid-num * $percent-grid-gap;

// Allow easy grid extensibility...
@mixin percent-grid-size( $tablet: false, $desktop: false ) {
    @if $tablet {
        @media only screen and (min-width: 481px) {
            width: ($space-total / $percent-grid-num * $tablet) + ($percent-grid-gap * ($tablet - 1));
        }
    }

    @if $desktop {
        @media only screen and (min-width: 1024px) {
            width: ($space-total / $percent-grid-num * $desktop) + ($percent-grid-gap * ($desktop - 1));
        }
    }
}


.percent-gird {
    @include clearfix;
    padding: $percent-grid-gap;
    margin-left: -$percent-grid-gap;
}

.percent-gird .module {
    @include transition(all 0.3s linear);

    float: left;
	width: 100% - $percent-grid-gap;
	margin-left: $percent-grid-gap;
	margin-bottom: $percent-grid-gap;
	min-height: 60px;

    @for $i from 1 through $percent-grid-num {
        &.tablet-#{$i} { @include percent-grid-size( $tablet: $i ); }
        &.desktop-#{$i} { @include percent-grid-size( $desktop: $i ); }
    }
}
