@mixin site-color-change( $text-color: $color__text-default,
                                $background-color: $nav-bgcolor,
                                $more-background-color: $nav-more-bgcolor,
                                $border-color: $nav-border-color, $change-footer: true, $change-page: true )
{
    nav#site-navigation {
        background-color: $background-color;
        border-color: $border-color;
        &, * {  color: $text-color; }

        .toggle .row {
            &, * { background-color: $text-color !important; }
        }
    }

    // Asume & is body.
    & { background-color: $more-background-color; }

    // Change the footer colors in accorance with the color scheme.
    @if ( $change-footer ) {
        footer#primary-footer, footer#primary-footer * {
            border-color: $border-color;
            background-color: $background-color;
            color: $text-color;
        }
    }

    @if ( $change-page ) {
        #page, #content, #main {
            background-color:  $background-color;
            color: $text-color;
        }
    }
}
