/**
 * @file.
 * Contains information about the various fonts and font types that are to
 * be imported into the given site.
 */

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
