.post {
    font-size: $post-font-size;
    font-family: $font-casual;
}
.post .entry-image {
    width: 100%;
      overflow: hidden;

    &, * {
        padding: 0;
        margin: 0;
        display: block;
    }
    img {
        @include transition( all $time__medium );
    }
    &:hover img {
        @include transform( scale( 1.2) );
    }
}
