/**
 * Describes a layout for editors picks and such
 */
#editors-picks {
    height: $front-grid-size;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

/**
 * Confirm the layout options.
 */
#editors-picks > article.pick {
    @include box-sizing(border-box);
    float: left;
    margin: 0;
    width: $front-grid-size;
    height: $front-grid-size;

    padding: 25px;

    // Allow for perfect background...
    @include perfect-css-background-rel;
}

/**
 * Configure the first about elements...
 */
#editors-picks > article.pick:first-child {
    text-align: center;
    background-color: $editors-picks-default-bgcolor;
    @extend .center-vertical-child-flex;
    color: $editors-picks-author-color;

    font-size: 2em;
}
