/**
 * Themes all pages displaying a multitude of posts for a specific author.
 *
 * These posts will be shown to the left, the author to the right.
 */
body.author #main {
  @include display-flex;
  @include flex-direction( row );
  @include justify-content( center );

  @include respond-to('medium') {
    @include flex-wrap( wrap );
  };
}

/**
 * Describe information concerning the author with the image on top and the
 * description following. This technique employs the standard flexbox within
 * a flexbox technique.
 */
#author-info {
  @include display-flex;
  @include flex-direction( column );
  @include justify-content( flex-start );
  margin-top: $padding-val;
  margin-right: $padding-val;
  margin-left: 0;
  margin-bottom: 0;
  width: 300px;
  height: 0%;
  order: 2;

  @include respond-to('medium') {
    width: 100%;
    max-width: 100%;
    order: 1;
    margin-left: $padding-val;
    margin-right: $padding-val;
  }
}

/**
 * Show content as content.
 */
#author-info .author-content {
  background-color: $content-bgcolor;
}

/**
 * Properly size the author bio.
 */
#author-info .author-bio {
  @include font-size(12px);
}

/**
 * Order the loaded posts to proceded the author information
 */
body.author #main .loaded-posts {
    margin: 0;
    order: 1;

    @include respond-to('medium') {
      width: 100%;
      max-width: 100%;
      order: 1;
    }
}
