/**
 * Vertically centers the content of the child elements. Only is intended for
 * one child.
 */
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Cutive);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Cousine:400,700);
/**
 * Provide the basic styling for the anchor tag. Specificly, it targets the
 * responsive nature of the link in cases of hover or focus.
 * 1. Responsive color change on hover.
 * 2. Heading font to indicate difference from content.
 */
a {
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  font-size: 16px;
  font-size: 1rem;
  font-family: "EB Garamond", serif;
  color: black;
  /* 1 */
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:active, a:focus, a:hover {
  color: #95a5a6;
  /* 1 */
}

#content {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

@-moz-keyframes astronaut-move {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
    left: 60vw;
  }
  100% {
    -moz-transform: scale(0.01);
    transform: scale(0.01);
    left: 1vw;
  }
}
@-webkit-keyframes astronaut-move {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    left: 60vw;
  }
  100% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    left: 1vw;
  }
}
@keyframes astronaut-move {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    left: 60vw;
  }
  100% {
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    left: 1vw;
  }
}
#astonaut {
  -moz-animation: astronaut-move 300s ease-out forwards;
  -webkit-animation: astronaut-move 300s ease-out forwards;
  animation: astronaut-move 300s ease-out forwards;
  position: absolute;
  top: 40vh;
  left: 60vw;
  width: 200px;
  height: 200px;
  margin-top: -200px;
}
#astonaut img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@-moz-keyframes primary-text-come-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes primary-text-come-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes primary-text-come-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes pulse {
  0% {
    color: random-color();
  }
  20% {
    color: random-color();
  }
  30% {
    color: random-color();
  }
  40% {
    color: random-color();
  }
  50% {
    color: random-color();
  }
  60% {
    color: random-color();
  }
  70% {
    color: random-color();
  }
  80% {
    color: random-color();
  }
  90% {
    color: random-color();
  }
  100% {
    color: random-color();
  }
}
@-webkit-keyframes pulse {
  0% {
    color: random-color();
  }
  20% {
    color: random-color();
  }
  30% {
    color: random-color();
  }
  40% {
    color: random-color();
  }
  50% {
    color: random-color();
  }
  60% {
    color: random-color();
  }
  70% {
    color: random-color();
  }
  80% {
    color: random-color();
  }
  90% {
    color: random-color();
  }
  100% {
    color: random-color();
  }
}
@keyframes pulse {
  0% {
    color: random-color();
  }
  20% {
    color: random-color();
  }
  30% {
    color: random-color();
  }
  40% {
    color: random-color();
  }
  50% {
    color: random-color();
  }
  60% {
    color: random-color();
  }
  70% {
    color: random-color();
  }
  80% {
    color: random-color();
  }
  90% {
    color: random-color();
  }
  100% {
    color: random-color();
  }
}
#message {
  width: 100%;
  left: 0;
  padding: 16px;
  bottom: 5vh;
  position: absolute;
  color: white;
  z-index: 1000;
  font-size: 4em;
  text-align: center;
}
#message .primary-text {
  overflow: hidden;
}
#message .go-home * {
  font-size: 16px;
  font-size: 1rem;
  font-family: "EB Garamond", serif;
  cursor: pointer;
  -moz-animation: pulse 16s infinite linear;
  -webkit-animation: pulse 16s infinite linear;
  animation: pulse 16s infinite linear;
}
#message * {
  text-align: center;
}

@media (max-width: 900px) {
  #message {
    font-size: 3em;
  }
}
@media (max-width: 600px) {
  #message .primary-text {
    display: none;
  }

  #message {
    width: 100%;
    font-size: 2.5em;
  }
}
