@charset "UTF-8";
/**
 * @file.
 * This file contians information about the colors for this websites. All
 * these colors are specified in two phases, the first is the colorscheme
 * and the second is the individual colors of indiviudal items, this also
 * applies to text though typically with the -text- modifier in the varaible
 * name.
 */
/*============= COLOR SCHEME =============*/
/*============= General =============*/
/*============= Page =============*/
/*============= Navigation Bar =============*/
/* Relates to the allways visual side of the site */
/* Relates to the revealable side of the site. */
/* Relates to the submenu displayed in the revealable navigation bar. */
/* Relates to the more burger menu icon. */
/* Relates to the menu on mobile devices and the colors for these devices. */
/*============= Sidebar =============*/
/*============= Widgets =============*/
/*============= Gallery =============*/
/*============= Blockquote =============*/
/*============= Table =============*/
/*============= Multiple Posts =============*/
/*============= Single Post =============*/
/*============= Footer =============*/
/*============= Featured =============*/
/*============= General =============*/
/*============= Comments =============*/
/*============= Categories =============*/
/*============= Front Page =============*/
/**
 * @file.
 * Defines two variables which are used to determine fonts across the site.
 * Headings is used for anything that is not a large block of text. Casual
 * is used for anything else.
 */
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/*============= Navigation bar =============*/
/* Allow for responseve design. */
/*============= Social Menu =============*/
/*============= Widgets =============*/
/*============= Gallery =============*/
/*============= Blockquote =============*/
/*============= Table =============*/
/*============= Single Post =============*/
/*============= Featured =============*/
/*============= General =============*/
/*============= Footer =============*/
/*============= Posts =============*/
/**
 * @file.
 * This file relates to the general elements of appearence that do not conform
 * to other parts of the site.
 */
/*============= Navigation =============*/
/*============= Sidebar =============*/
/*============= Widgets =============*/
/*============= Images =============*/
/*============= Table =============*/
/*============= Posts =============*/
/*============= Footer =============*/
/*============= Featured =============*/
/*============= Comments =============*/
/*============= Categories =============*/
/**
 * @file.
 * This file concnerns the layout of various elements on the page. It should be
 * noted that not all of these variables should be changed, if the variables are
 * relative then include that definition in the definition of the variable.
 */
/*============= Navigation bar =============*/
/*============= Sidebar =============*/
/*============= Widgets =============*/
/*============= Gallery =============*/
/*============= Content =============*/
/*============= Posts =============*/
/*============= Single Post =============*/
/*============= Multiple Posts =============*/
/*============= Breakpoints =============*/
/*============= Front Page Grid =============*/
/*============= Footer =============*/
/*============= Footer =============*/
/*============= Featured =============*/
/*============= Comments =============*/
/**
 * @file.
 * Relates to all the various timing that is essential to the flow of the
 * sites animations and other features.
 */
/*============= Standards =============*/
/*============= Navigation =============*/
/*============= Gallery =============*/
/*============= Table =============*/
/*============= Animated =============*/
/*============= Multiple Posts =============*/
/*============= Posts =============*/
/*============= Featured =============*/
/**
 * @file.
 * Relates to various elements conncerning miscelanious styling for things
 */
/*============= Navigation bar =============*/
/*============= Featured =============*/
/**
 * @file.
 * Relates to all the z-index's of the site, complete, can be used to change
 * z-index problems in scope
 */
/*============= Navigation =============*/
/*============= Sidevar =============*/
/*============= Multiple Posts =============*/
.column-container {
  width: 100%;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: right;
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  column-width: 300px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  padding: 0;
}
.column-container article.post, .column-container article.widget {
  display: inline-block;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
.column-container * {
  display: block;
}
.column-container .entry-meta {
  width: 100%;
}
.column-container .entry-meta * {
  display: inline-block;
}

/**
 * Makes content inside of a post show with full width.
 */
/**
 * Makes a background image fill a container...
 */
/**
 * @file.
 * Contains information about the various fonts and font types that are to
 * be imported into the given site.
 */
/**
 * @file.
 * All styles relating to all images.
 */
/* CSS arrows in various direction. */
.post {
  font-size: 0.9em;
  font-family: "PT Serif", serif;
}

/**
 * @file.
 * Defines some basic ovverride styles for parts of the page to improve the
 * overall design and normalize appearences.
 */
body {
  font-family: "PT Serif", serif;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}

.post .entry-content a {
  text-decoration: underline;
}

/* Styling to change the color of the currently selected element. */
*[class*="current"] {
  color: #bdc3c7;
}

input {
  background-color: transparent;
}

a {
  color: black;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  cursor: pointer;
}
a:active, a:focus, a:hover {
  color: #95a5a6;
}

.center-vertical-child-flex, #site-navigation, nav#site-navigation #menu-toggle, #social-menu, #site-title-wrapper, #primary-menu, .ajax-loading {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.center-horizontal-single-margin {
  margin-left: auto;
  margin-right: auto;
}

.center-horizontal-child-align {
  text-align: center;
}

.center-horizontal-child-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}

/* Shows the content in the center of the screen for most posts and such. */
.center-element, .content-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}

.element-content, .single article.post section.post-content,
.single article.page section.post-content,
.single-post article.post section.post-content,
.single-post article.page section.post-content,
.page article.post section.post-content,
.page article.page section.post-content, .content-element {
  width: 700px;
  padding: 0 20px;
}

.full-width-container {
  width: 100vw;
}
@media screen and (min-width: 700px) {
  .full-width-container {
    margin-left: calc(-50vw + 350px);
  }
}

/* Style the layout between the left and the right side of the page.*/
#content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

#primary {
  -webkit-flex: 1;
  flex: 1;
  order: 0;
  overflow: hidden;
}

@media (min-width: 420px) {
  /* The content should scale to show the sidebar border. */
  #content {
    width: 100%;
    float: left;
  }
}
body, html {
  overflow: hidden;
}

#page {
  background-color: #F5F5F5;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  left: 0;
}
#page::-webkit-scrollbar {
  display: none;
}

/* Set up the content to allow for lack of overlap of the content. */
#content-nav-bar-padding {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
}

/* The base wrapper encomapasses the entire site, it is the element directly after the body element. */
#base-wrapper {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transition: -moz-transform 0.8s ease-out;
  -o-transition: -o-transform 0.8s ease-out;
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
}

/**
 * @file.
 * Creates the sidebar and also dicates its layout in terms of the
 * page content and the sidebar.
 */
/* Sets up the sidebar to allow toggling. */
#sidebar {
  overflow: visible;
  display: none;
}

@media (min-width: 740px) {
  /* Make the sidebar be hidden and show the icon.  */
  #sidebar {
    display: block;
    z-index: 20;
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
  }

  /* Perform all animations for the display of the sidebar. */
  body.sidebar-visible #page, body.sidebar-visible #site-navigation, body.sidebar-visible #sidebar {
    -moz-transform: translateX(-320px);
    -ms-transform: translateX(-320px);
    -webkit-transform: translateX(-320px);
    transform: translateX(-320px);
  }
}
#page, #site-navigation, #sidebar {
  -moz-transition: -moz-transform 0.8s ease-out;
  -o-transition: -o-transform 0.8s ease-out;
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
}

#breaking {
  width: 100%;
  float: left;
  background-color: #f4f5f6;
  padding-top: 20px;
}

body.home #breaking-posts {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: right;
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  column-width: 300px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  padding: 0;
}
body.home #breaking-posts article.post, body.home #breaking-posts article.widget {
  display: inline-block;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
body.home #breaking-posts * {
  display: block;
}
body.home #breaking-posts .entry-meta {
  width: 100%;
}
body.home #breaking-posts .entry-meta * {
  display: inline-block;
}

/**
 * @file.
 * The editing of comments to display in the proper format and to show with
 * the right pazazz.
 */
#comments {
  width: 100%;
}

#comments .content-element {
  overflow: hidden;
}

#comments .comment {
  width: 100%;
  margin: 0;
  position: relative;
  /*============= Background =============*/
  /* Background color alternates based off of section. */
  /*============= Content =============*/
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}
#comments .comment * {
  z-index: 2;
}
#comments .comment .background {
  position: absolute;
  top: 0;
  right: 0;
  width: 1400px;
  height: 100%;
  z-index: 1;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
#comments .comment:nth-child(2n) .background {
  background-color: white;
}
#comments .comment:nth-child(2n+1) .background {
  background-color: #F3F3F3;
}
#comments .comment .post-content {
  width: 700px;
}

#comments .comment .comment-body {
  margin: 50px 0;
}
#comments .comment .entry-meta {
  position: absolute;
  right: 0;
  width: 100%;
  text-align: center;
  top: 0;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

#featured {
  width: 100%;
  position: relative;
}

#featured #featured-image {
  margin: 0;
  position: relative;
  width: 100%;
  height: 80vh;
  min-height: 320px;
  max-height: calc(100vh - 100px);
  /* Show the background image to take up the entire site. */
  /* Show the entry content above the image. */
}
#featured #featured-image .background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#featured #featured-image .entry-content {
  width: 50%;
  height: 100%;
  position: absolute;
  left: calc(50% - 25%);
  top: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
#featured #featured-image .entry-content * {
  color: white;
  font-size: 1.05em;
}
#featured #featured-image .entry-content a {
  z-index: -1;
}
#featured #featured-image .entry-content .entry-content-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 0;
}

#featured-posts {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
}
#featured-posts .post {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  width: 250px;
  min-height: 80px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 0 solid transparent;
  margin: 0;
  padding: 0 10px;
  padding-bottom: 1.6em;
}
#featured-posts .post .post-featured-image {
  display: none;
}
#featured-posts .post:first-child {
  border-top: 0 solid transparent;
}
#featured-posts .post .entry-header .entry-title {
  font-size: 1.3em;
  text-align: center;
  width: 100%;
}
#featured-posts .post .entry-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* Relates to the currently selected post and the change that entails */
#featured-posts .post.selected {
  background-color: rgba(0, 0, 0, 0.67);
}

#featured-image .post-featured-image {
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#featured-image .post-featured-image.selected {
  z-index: 2;
  opacity: 1;
}
#featured-image .post-featured-image.selected a {
  z-index: 10 !important;
}

#featured-image .post-featured-image:not(.selected) {
  opacity: 0;
  z-index: 1;
}

/* Media query to change appearence based off of screen size. */
@media screen and (max-width: 740px) {
  #featured #featured-image {
    display: none;
  }

  #featured-posts {
    position: relative;
    width: 100%;
    margin: 0;
  }
  #featured-posts .post {
    width: 100%;
    height: 120px;
    color: white;
  }
  #featured-posts .post .entry-meta {
    width: 100%;
    text-align: center;
  }

  /* Add the background colors to be more colorful for the mobile site. */
  #featured-posts .post:nth-child(1) {
    background-color: #e74c3c;
  }

  #featured-posts .post:nth-child(2) {
    background-color: #e67e22;
  }

  #featured-posts .post:nth-child(3) {
    background-color: #f1c40f;
  }

  #featured-posts .post:nth-child(4) {
    background-color: #3498db;
  }

  #featured-posts .post:nth-child(5) {
    background-color: #34495e;
  }

  #featured-posts .post:nth-child(6) {
    background-color: #27ae60;
  }
}
/**
 * @file.
 * Relates to all the visual elements of hte sidebar, the layout not included
 * in this file but is ../layout/_sidebar.scss.
 */
#sidebar {
  padding: 0 30px;
  padding-top: 40px;
  background-color: #e74c3c;
  color: white;
}

#sidebar ul {
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  width: 100%;
  text-align: left;
}

/**
 * @file.
 * Styles all the widgets in the site and does so with base styles as well as
 * more specific styles dictated in the widgets/ directory.
 */
.widget {
  width: 100%;
}
.widget .widget-title {
  border-bottom: 1px solid #34495e;
}

/* Adds styling for an icon to precede some text. */
/* Including the specialized widgets is done in main.scss. */
/**
 * @file.
 * The styling for the footer of the page, the footer being a widget area.
 * Overlapping widget styles from widgets should be overwrittern.
 */
footer#primary-footer {
  padding-top: 15px;
  background-color: whitesmoke;
  width: 100%;
  float: right;
}
footer#primary-footer .widget-container {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: right;
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  column-width: 300px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  padding: 0;
}
footer#primary-footer .widget-container article.post, footer#primary-footer .widget-container article.widget {
  display: inline-block;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
footer#primary-footer .widget-container * {
  display: block;
}
footer#primary-footer .widget-container .entry-meta {
  width: 100%;
}
footer#primary-footer .widget-container .entry-meta * {
  display: inline-block;
}

/* Show the credits as properly displaying */
#primary-footer .credits {
  width: 100%;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background-color: #c2c2c2;
}
#primary-footer .credits .credit {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  color: #4e5758;
  text-align: center;
  margin: 0.8em 0;
}

/* Animates text when visible, works primarily off of the .animated class. */
@-moz-keyframes draw-text {
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
@-webkit-keyframes draw-text {
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
@keyframes draw-text {
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
@-moz-keyframes fill-text {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}
@-webkit-keyframes fill-text {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}
@keyframes fill-text {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}
svg.draw-text {
  width: 100%;
}
svg.draw-text text {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill-opacity: 0;
}

svg.draw-text.animated text, .animated svg.draw-text text {
  -moz-animation: draw-text 5.4s forwards;
  -webkit-animation: draw-text 5.4s forwards;
  animation: draw-text 5.4s forwards;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #333333;
}

blockquote::before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: 3px;
  top: -20px;
  color: #ccc;
}

cite {
  font-family: "Montserrat", sans-serif;
  color: #999999;
  font-size: 12px;
  display: block;
  margin-top: 5px;
  margin-left: 30px;
}

cite:before {
  content: "\2014 \2009";
}

/**
 * Style the entry meta, somewhat basically for the entire site.
 */
.entry-meta {
  font-size: 0.8em;
  color: #95a5a6;
}
.entry-meta .author::before {
  content: '–';
  padding: 0 0.8em;
}
.entry-meta * {
  display: inline-block;
}

/**
 * Shows a masonry element as position relative in order to allow children
 * to be postioned absolutly by javascript.
 */
.masonry-grid {
  position: relative;
}

.post-content .read-more {
  color: #f39c12;
  opacity: 0;
  -moz-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  -webkit-transform: translateX(-2em);
  transform: translateX(-2em);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Show the read more link on hover. */
.post-content:hover .read-more {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* Show the read more link by default on mobile. */
@media only screen and (max-width: 420px) {
  .post-content .read-more {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  display: block;
  font-size: 0.9em;
}
table *, table *::before, table *::after {
  -moz-transition: all 1.2s;
  -o-transition: all 1.2s;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
table thead {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
table thead::after {
  content: '';
  height: 1px;
  background-color: black;
  margin-left: 0;
  margin-right: 0;
  display: block;
  width: 0;
}
table tr {
  height: 2.25em;
}
table tr > * {
  padding-left: 8px;
  padding-right: 8px;
}

table.animated thead::after {
  width: 100%;
}

/**
 * _navigation.scss
 *
 * Base file for the definition of some default navigation constructs.
 *
 * Also sets some default styles for the creation of said constructs.
 */
#site-navigation {
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid rgba(189, 195, 199, 0.6);
  z-index: 30;
  padding: 0 60px;
}

#site-navigation > .wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

#site-navigation > .wrapper > * {
  margin-left: 10px;
  margin-right: 10px;
}

#site-navigation ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#site-navigation ul.menu-items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

@media screen and (max-width: 1000px) {
  #site-navigation {
    padding: 8px;
  }
}
@media screen and (max-width: 700px) {
  #primary-menu, #social-menu {
    display: none;
  }
}
@media screen and (max-width: 700px) and (max-height: 700px) {
  #site-navigation {
    height: 50px;
  }
}
/* Styles the toggle of the navigation bar. */
nav#site-navigation #menu-toggle {
  cursor: pointer;
  width: 20px;
  /* Show default 3 bar state. */
}
nav#site-navigation #menu-toggle, nav#site-navigation #menu-toggle * {
  padding: 0;
  margin: 0;
}
nav#site-navigation #menu-toggle .toggle {
  width: 100%;
  height: 20px;
  position: relative;
}
nav#site-navigation #menu-toggle .row {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #34495e;
}
nav#site-navigation #menu-toggle .row:nth-child(1) {
  top: 0%;
}
nav#site-navigation #menu-toggle .row:nth-child(2) {
  top: 33.33333%;
}
nav#site-navigation #menu-toggle .row:nth-child(3) {
  top: 66.66667%;
}

/* On click show as an exit button */
body.nav-visible nav#site-navigation #menu-toggle > .toggle .row:first-child {
  -moz-transform-origin: 0 top;
  -ms-transform-origin: 0 top;
  -webkit-transform-origin: 0 top;
  transform-origin: 0 top;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
body.nav-visible nav#site-navigation #menu-toggle > .toggle .row:last-child {
  -moz-transform-origin: 0 bottom;
  -ms-transform-origin: 0 bottom;
  -webkit-transform-origin: 0 bottom;
  transform-origin: 0 bottom;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body.nav-visible nav#site-navigation #menu-toggle > .toggle .row:nth-child(2) {
  left: 150%;
  opacity: 0;
}

/* The sidebar toggle in the navigation. It resembels in dimensions the navigation. */
#sidebar-toggle .container {
  position: relative;
  width: 22px;
  height: 20px;
  cursor: pointer;
  /* Show default 3 bar state. */
}
#sidebar-toggle .container .row {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 3px;
}
#sidebar-toggle .container .row .dot,
#sidebar-toggle .container .row .dash {
  position: absolute;
}
#sidebar-toggle .container .row:nth-child(1) {
  top: 0%;
}
#sidebar-toggle .container .row:nth-child(2) {
  top: 33.33333%;
}
#sidebar-toggle .container .row:nth-child(3) {
  top: 66.66667%;
}
#sidebar-toggle .container .row .dot {
  height: 3px;
  width: 3px;
  background-color: #34495e;
  left: 0;
  top: 0;
}
#sidebar-toggle .container .row .dash {
  width: 19px;
  height: 3px;
  background-color: #34495e;
  left: 6px;
  top: 0;
}
#sidebar-toggle .container .row:nth-child(2) .dash {
  width: 16px;
}

#sidebar-toggle .container {
  display: none;
}

@media (min-width: 740px) {
  #sidebar-toggle .container {
    display: block;
  }
}
/**
 * @file.
 * Defines the styling for the social menu, including the display, through sass
 * of social media icons.
 */
#social-menu-items a[href*="facebook"] span {
  display: none;
}
#social-menu-items a[href*="facebook"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="github"] span {
  display: none;
}
#social-menu-items a[href*="github"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="tumblr"] span {
  display: none;
}
#social-menu-items a[href*="tumblr"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="vine"] span {
  display: none;
}
#social-menu-items a[href*="vine"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="yelp"] span {
  display: none;
}
#social-menu-items a[href*="yelp"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="youtube"] span {
  display: none;
}
#social-menu-items a[href*="youtube"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="twitter"] span {
  display: none;
}
#social-menu-items a[href*="twitter"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="vimeo"] span {
  display: none;
}
#social-menu-items a[href*="vimeo"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="slack"] span {
  display: none;
}
#social-menu-items a[href*="slack"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="rebel"] span {
  display: none;
}
#social-menu-items a[href*="rebel"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="pinterest"] span {
  display: none;
}
#social-menu-items a[href*="pinterest"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="linkedin"] span {
  display: none;
}
#social-menu-items a[href*="linkedin"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="google"] span {
  display: none;
}
#social-menu-items a[href*="google"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu-items a[href*="instagram"] span {
  display: none;
}
#social-menu-items a[href*="instagram"]::before {
  font-family: "fontawesome";
  content: "";
  font-size: 1.2em;
}

#social-menu li {
  margin-left: 5px;
  margin-right: 5px;
}

#site-title-wrapper, #site-title-wrapper * {
  margin: 0;
  padding: 0;
}

#site-title-wrapper .site-title {
  font-size: 1.3rem;
}

/* Changes the font size of the title on shrinking */
@media (min-width: 500px) {
  #site-title-wrapper .site-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1120px) {
  #site-title-wrapper .site-title {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 420px) {
  #site-title-wrapper .site-title {
    font-size: 1.2rem;
  }
}
#primary-menu-items li {
  margin-left: 10px;
  margin-right: 10px;
}

#primary-menu-items li {
  display: none;
}

ul#primary-menu-items > li {
  display: block;
}

.ajax-loading {
  width: 100%;
  background-color: #34495e;
  height: 20vw;
  color: #1abc9c;
}

.ajax-loading .letters {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

@-moz-keyframes character-move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    -moz-transform: rotate(0);
    transform: rotate(0);
    left: 41%;
    opacity: 1;
  }
  65% {
    -moz-transform: rotate(0);
    transform: rotate(0);
    left: 59%;
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(-180);
    transform: rotate(-180);
    left: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes character-move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 41%;
    opacity: 1;
  }
  65% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 59%;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-180);
    transform: rotate(-180);
    left: 100%;
    opacity: 0;
  }
}
@keyframes character-move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 41%;
    opacity: 1;
  }
  65% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 59%;
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(-180);
    -ms-transform: rotate(-180);
    -webkit-transform: rotate(-180);
    transform: rotate(-180);
    left: 100%;
    opacity: 0;
  }
}
.ajax-loading .letter {
  position: absolute;
  width: 40px;
  height: 56px;
  font-size: 35px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  -moz-animation: character-move 4s linear infinite;
  -webkit-animation: character-move 4s linear infinite;
  animation: character-move 4s linear infinite;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ajax-loading .letter:nth-child(1) {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.ajax-loading .letter:nth-child(2) {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.ajax-loading .letter:nth-child(3) {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.ajax-loading .letter:nth-child(4) {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.ajax-loading .letter:nth-child(5) {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.ajax-loading .letter:nth-child(6) {
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.ajax-loading .letter:nth-child(7) {
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.ajax-loading .letter:nth-child(8) {
  -moz-animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.ajax-loading .letter:nth-child(9) {
  -moz-animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.ajax-loading .letter:nth-child(10) {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

body.search-results {
  /**
   * The current page is displaying the result of a search, thus the multi column
   * layout for a page with multiple posts, applies
   */
}
body.search-results #search-posts, body.search-results header {
  background-color: white;
}
body.search-results #search-posts {
  width: 70%;
}
body.search-results header {
  width: 40%;
}

/**
 * @file.
 * Styles an image gallery and allows for an image to show properly.
 */
.gallery {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 0;
  width: 100vw;
  -moz-column-width: 350px;
  -webkit-column-width: 350px;
  column-width: 350px;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0;
}
@media screen and (min-width: 700px) {
  .gallery {
    margin-left: calc(-50vw + 350px);
  }
}

.gallery figure.gallery-item {
  width: 100%;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.gallery figure.gallery-item * {
  margin: 0;
  padding: 0;
}
.gallery figure.gallery-item img {
  width: 100%;
  height: auto;
}
.gallery figure.gallery-item figcaption {
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100px;
  line-height: 1em;
  padding: 8px;
  text-align: left;
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 120%;
  width: 100%;
}
.gallery figure.gallery-item figcaption::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  top: -25px;
}
.gallery figure.gallery-item:hover figcaption {
  top: calc(100% - 100px);
  bottom: 0;
}

/**
 * @file.
 * Sets up a grid class meant to interact with some javscript that will ensure
 * the grids functionality. It is bassed lossly off of the grid displayed in the
 * loading of the TV show last week tonight.
 */
.direction-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.direction-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.size-small {
  width: 200px;
}

.size-medium {
  width: 400px;
}

.size-large {
  width: 600px;
}

/**
 * @file.
 * Styles for a single post of the website as bassed on the site navigation.
 */
.single,
.single-post,
.page {
  /*============= Image =============*/
  /*============= Post =============*/
  /*============= Post Navigation =============*/
  /* Show the navigation for mobile browsers as typical links. */
}
.single .featured-image,
.single-post .featured-image,
.page .featured-image {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 200px;
  max-height: 1200px;
  height: 60vh;
}
.single .featured-image .background-image,
.single-post .featured-image .background-image,
.page .featured-image .background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.single article.post,
.single article.page,
.single-post article.post,
.single-post article.page,
.page article.post,
.page article.page {
  padding: 0;
  font-size: 1.1em;
  position: relative;
  /* Show the the header inforamation to the side if possible. */
  /* Show the title as a big item on the top page. */
}
.single article.post header.entry-header,
.single article.page header.entry-header,
.single-post article.post header.entry-header,
.single-post article.page header.entry-header,
.page article.post header.entry-header,
.page article.page header.entry-header {
  width: 100%;
  text-align: center;
}
.single article.post header.entry-header .entry-title,
.single article.page header.entry-header .entry-title,
.single-post article.post header.entry-header .entry-title,
.single-post article.page header.entry-header .entry-title,
.page article.post header.entry-header .entry-title,
.page article.page header.entry-header .entry-title {
  position: relative;
  width: auto;
  display: inline-block;
}
.single article.post header.entry-header .entry-title::after,
.single article.page header.entry-header .entry-title::after,
.single-post article.post header.entry-header .entry-title::after,
.single-post article.page header.entry-header .entry-title::after,
.page article.post header.entry-header .entry-title::after,
.page article.page header.entry-header .entry-title::after {
  content: '';
  -moz-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
  -webkit-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
  position: absolute;
  bottom: -2px;
  height: 2px;
  left: 50%;
  width: 0;
  background-color: #95a5a6;
}
.single article.post header.entry-header .entry-title.animated::after,
.single article.page header.entry-header .entry-title.animated::after,
.single-post article.post header.entry-header .entry-title.animated::after,
.single-post article.page header.entry-header .entry-title.animated::after,
.page article.post header.entry-header .entry-title.animated::after,
.page article.page header.entry-header .entry-title.animated::after {
  left: -10%;
  width: 120%;
}
.single .post-navigation,
.single-post .post-navigation,
.page .post-navigation {
  display: none;
}
@media (min-width: 1300px) {
  .single .post-navigation .nav-links > *,
  .single-post .post-navigation .nav-links > *,
  .page .post-navigation .nav-links > * {
    position: absolute;
    top: 45vh;
    top: calc(50vh - 100px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: table;
    /* Show the icon for the next post.  */
    /* Show everything in as a more visible style. */
  }
  .single .post-navigation .nav-links > *::before,
  .single-post .post-navigation .nav-links > *::before,
  .page .post-navigation .nav-links > *::before {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 240px;
    line-height: 200px;
    font-family: 'fontawesome';
    content: '\f0a9';
    color: rgba(189, 195, 199, 0.4);
    z-index: -1;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }
  .single .post-navigation .nav-links > *:hover::before,
  .single-post .post-navigation .nav-links > *:hover::before,
  .page .post-navigation .nav-links > *:hover::before {
    color: rgba(84, 94, 100, 0.4);
  }
  .single .post-navigation .nav-links > *.nav-previous::before,
  .single-post .post-navigation .nav-links > *.nav-previous::before,
  .page .post-navigation .nav-links > *.nav-previous::before {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .single .post-navigation .nav-links > * > a,
  .single-post .post-navigation .nav-links > * > a,
  .page .post-navigation .nav-links > * > a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    padding: 0 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    z-index: 2;
  }
  .single .post-navigation .nav-links > *.nav-previous,
  .single-post .post-navigation .nav-links > *.nav-previous,
  .page .post-navigation .nav-links > *.nav-previous {
    left: 20px;
  }
  .single .post-navigation .nav-links > *.nav-next,
  .single-post .post-navigation .nav-links > *.nav-next,
  .page .post-navigation .nav-links > *.nav-next {
    right: 20px;
  }
}

.post {
  padding: 0 30px;
}

body.home #content {
  float: right;
}

body.home #recent-posts {
  width: 100%;
}

body.home #recent-posts .month {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-begin;
  justify-content: flex-begin;
}
body.home #recent-posts .month:nth-child(2n+1) {
  background-color: white;
}
body.home #recent-posts .month:nth-child(2n) {
  background-color: #f4f5f6;
}

body.home #recent-posts .month .category-description {
  font-family: "Montserrat", sans-serif;
  margin-left: 2.5%;
  font-size: 0.8em;
  color: #95a5a6;
}
body.home #recent-posts .month .category-description .year-text::before {
  content: '–';
  padding: 0 0.8em;
}
body.home #recent-posts .month .category-description * {
  display: inline-block;
}

body.home .post img {
  width: 100%;
}

/* Remove extra space from header */
body.home .post header * {
  margin-top: 0;
}

/* Show the categories the current post is linked to. */
body.home .post {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #bdc3c7;
}
body.home .post[class*="category-entertainment"] {
  border-left-color: #1abc9c;
}
body.home .post[class*="category-markup"] {
  border-left-color: #f1c40f;
}
body.home .post[class*="category-movie-reviews"] {
  border-left-color: #16a085;
}
body.home .post[class*="category-music-reviews"] {
  border-left-color: #27ae60;
}
body.home .post[class*="category-theater-reviews"] {
  border-left-color: #2ecc71;
}
body.home .post[class*="category-extra-point"] {
  border-left-color: #f1c40f;
}
body.home .post[class*="category-ma-events"] {
  border-left-color: #c0392b;
}
body.home .post[class*="category-opinion"] {
  border-left-color: #95a5a6;
}
body.home .post[class*="category-science"] {
  border-left-color: #2980b9;
}
body.home .post[class*="category-sports"] {
  border-left-color: #f1c40f;
}
body.home .post[class*="category-blogs"] {
  border-left-color: #3498db;
}
body.home .post[class*="category-blogscat"] {
  border-left-color: #3498db;
}
body.home .post[class*="category-question-of-the-day"] {
  border-left-color: #e74c3c;
}
body.home .post[class*="category-the-stew"] {
  border-left-color: #e74c3c;
}
body.home .post[class*="category-top-stories"] {
  border-left-color: #8e44ad;
}
body.home .post[class*="category-satire"] {
  border-left-color: #9b59b6;
}
body.home .post[class*="category-featured"] {
  border-left-color: #8e44ad;
}
body.home .post[class*="category-news"] {
  border-left-color: #9b59b6;
}
body.home .post[class*="category-uncategorized"] {
  border-left-color: #bdc3c7;
}

/* Hide Category bar for featured */
#featured .post {
  border-left: none;
}
