/**
 * _navigation.scss
 *
 * Base file for the definition of some default navigation constructs.
 *
 * Also sets some default styles for the creation of said constructs.
 */
#site-navigation {
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $nav-screen-height;

    background-color: $nav-bgcolor;
    border-bottom: $nav-border;

    z-index: $nav-zindex;

    // Center the wrapper.
    @extend .center-vertical-child-flex;

    padding: 0 $nav-screen-margin;
}

#site-navigation > .wrapper {
    @include display-flex;
    @include flex-direction( row );
    @include justify-content( space-between );
}

#site-navigation > .wrapper > * {
    margin-left: 10px;
    margin-right: 10px;
}

#site-navigation ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#site-navigation ul.menu-items {
    // Show as a flexbox with direction in place of inlin block as would
    // else be the standard.
    @include display-flex;
    @include flex-direction( row );
}

@media screen and (max-width: $nav-breakpoint-large) {
    #site-navigation { padding: 8px; }
}


 @media screen and (max-width: $nav-breakpoint-hidden) {
    // Hide all nonesential elements of hte
    #primary-menu, #social-menu {
        display: none;
    }
}

@media screen and (max-width: $nav-breakpoint-hidden) and (max-height: $nav-breakpoint-hidden) {
    #site-navigation { height: $nav-screen-height / 2; }
}
