#primary-menu {
    @extend .center-vertical-child-flex;
}

#primary-menu-items li {
    margin-left: 10px;
    margin-right: 10px;
}

// Hide all children of the navigation bar...
#primary-menu-items li { display: none; }
ul#primary-menu-items > li { display: block; }
