#site-title-wrapper {
    @extend .center-vertical-child-flex;

    &, * {  margin: 0; padding: 0; }
}



#site-title-wrapper .site-title {
    font-size: $nav-site-title-font-small;
}

/* Changes the font size of the title on shrinking */
@media (min-width: $nav-site-title-change-font-breakpoint) {
    #site-title-wrapper .site-title {
        font-size: $nav-site-title-font-medium;
    }
}

@media (min-width: $page-max-width) {
    #site-title-wrapper .site-title {
        font-size: $nav-site-title-font-large;
    }
}

@include mobile-breakpoint {
    #site-title-wrapper .site-title {
        font-size: $nav-site-title-font-mobile;
    }
}
