/**
 * @file.
 * Sets up a grid class meant to interact with some javscript that will ensure
 * the grids functionality. It is bassed lossly off of the grid displayed in the
 * loading of the TV show last week tonight.
 */

.direction-column {
    @include flex-direction(column);
}

.direction-row {
    @include flex-direction(row);
}

.size-small {
    width: 200px;
}

.size-medium {
    width: 400px;
}

.size-large {
    width: 600px;
}
