/**
 * @file.
 * Styles for a single post of the website as bassed on the site navigation.
 */


body.single,
body.single-post,
body.page {
    /*============= Image =============*/
    .featured-image {
        position: relative;
        margin: 0;
        width: 100%;
        min-height: $single-post-featured-image-min-height;
        max-height: $single-post-featured-image-max-height;
        height: $single-post-featured-image-height;
    }

    .featured-image .background-image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        @include perfect-css-background;
    }

    /*============= Post =============*/
    article.post,
    article.page {
        // Configure the width of the content. And center using flexbox.
        padding: 0;

        font-size: $single-post-font-size;


        position: relative;

        section.post-content {
            @extend .element-content;

            .entry-section {
                padding: $grid-gap;
                margin-top: $grid-gap;
                margin-bottom: $grid-gap;
                background-color: $content-bgcolor;
            }
        }


        /* Show the the header inforamation to the side if possible. */

        /* Show the title as a big item on the top page. */
        header.entry-header{
            width: 100%;
            text-align: center;

            .entry-title {
                // Allowes the ::after element to be absolutly positioned.
                position: relative;
                width: auto;
                display: inline-block;
            }
        }
    }




    /*============= Post Navigation =============*/
    /* Show the navigation for mobile browsers as typical links. */
    .post-navigation { @if ( $post-navgiation-display == false )  { display: none; } }

    @media (min-width: #{$post-width + $single-post-navigation-link-size * 3}) {
        .post-navigation .nav-links > * {
            // Show on the top and left sides of the screen.
            position: absolute;
            top: 45vh;
            top: calc(50vh - #{$single-post-navigation-link-size / 2});

            // Style is a circle with a background and text on top.
            width: $single-post-navigation-link-size;
            height: $single-post-navigation-link-size;
            border-radius: 50%;
            display: table;

            /* Show the icon for the next post.  */
            &::before {
                position: absolute;
                left: 0;
                top: 0;
                font-size: $single-post-navigation-link-size * 1.2;
                line-height: $single-post-navigation-link-size;
                font-family: 'fontawesome';
                content: '\f0a9';
                color: $single-post-navigation-link-bgcolor;
                z-index: -1;

                // Allow transition of the background color.
                @include transition(color 0.2s ease);
            }
            &:hover::before {
                color: darken($single-post-navigation-link-bgcolor, 40);
            }
            &.nav-previous::before {
                @include transform(rotate(180deg));
            }

            /* Show everything in as a more visible style. */
            > a {
                // Center vertically in container.
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                text-align: center;


                // Keep the same heading font as the other.
                padding: 0 10%;
                @include heading-font;
                font-size: $single-post-navigation-font-size;
                z-index: 2;
            }


            &.nav-previous { left: 20px; }
            &.nav-next { right: 20px; }
        }
    }
}
