.post-content .read-more {
    color: $post-read-more-color;

    // Hide from display initially.
    opacity: 0;

    @include transform(translateX(-2em));

    // Allow for come in effect.
    @include transition(all $multiple-post-read-more-duration);
}

/* Show the read more link on hover. */
.post-content:hover .read-more {
        @include transform(translateX(0));
        opacity: 1;
}

/* Show the read more link by default on mobile. */
@include mobile-breakpoint {
    .post-content .read-more {
        @include transform(translateX(0));
        opacity: 1;
    }
}
