table {
    border-collapse: collapse;

    width: 100%;
    text-align: left;
    display: block;

    font-size: $table-font-size;

    *, *::before, *::after {
        @include transition(all $table-animation-time);
    }


    thead {
        display: block;
        width: 100%;
        margin-bottom: $table-cell-padding;

        &::after {
            content: '';
            height: $table-border-height;
            background-color: $table-border-color;
            margin-left: 0;
            margin-right: 0;
            display: block;
            width: 0;
        }
    }

    tr {
        height: $table-font-size * 2.5;
    }

    tr > * {
        padding-left: $table-cell-padding;
        padding-right: $table-cell-padding;
    }
}

table.animated {
    thead::after {
        width: 100%;
    }
}
